In [2]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
import pandas as pd
import numpy as np
import io
import random
import math
import scipy.stats
import matplotlib.pylab as plt
import seaborn as sns

C:\Users\devin\AppData\Local\Temp\ipykernel_20516\4169296045.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [3]:
data = pd.read_excel('data/FFN_History_data.xlsx')

In [4]:
data.dropna(subset=['Name'], inplace=True)
data.reset_index(drop=True, inplace=True)

In [5]:
data

,ID,Name,League,Year,League Year #,Rank,Sport,Minigame?,Dynasty?,Bestball?,Orphaned?
0,112.0,Grant,FFN Alumni,2021,1,1.0,Football,0,1,0,0
1,109.0,Ari,FFN Alumni,2021,1,2.0,Football,0,1,0,0
2,103.0,Cam,FFN Alumni,2021,1,3.0,Football,0,1,0,0
3,106.0,Kyle,FFN Alumni,2021,1,4.0,Football,0,1,0,0
4,127.0,DMac,FFN Alumni,2021,1,5.0,Football,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
409,162.0,Chad,CFB Fantasy Redraft,2023,1,5.0,Football,0,0,0,0
410,163.0,Josh,CFB Fantasy Redraft,2023,1,7.0,Football,0,0,0,0
411,124.0,Mitch,CFB Fantasy Redraft,2023,1,10.0,Football,0,0,0,0
412,104.0,Double,CFB Fantasy Redraft,2023,1,11.0,Football,0,0,0,0
413,164.0,Noah,CFB Fantasy Redraft,2023,1,12.0,Football,0,0,0,0

## Compute Total Number of Participants in Each Contest

In [6]:
# Calculate the total number of unique participants in each league per year
total_players = data.groupby(['League', 'Year'])['ID'].nunique().reset_index(name='Total Players')

# Merge the total_players with the original dataframe to add the Total Players column
data_merged = pd.merge(data, total_players, how='left', on=['League', 'Year'])

data_merged.tail()

,ID,Name,League,Year,League Year #,Rank,Sport,Minigame?,Dynasty?,Bestball?,Orphaned?,Total Players
409,162.0,Chad,CFB Fantasy Redraft,2023,1,5.0,Football,0,0,0,0,6
410,163.0,Josh,CFB Fantasy Redraft,2023,1,7.0,Football,0,0,0,0,6
411,124.0,Mitch,CFB Fantasy Redraft,2023,1,10.0,Football,0,0,0,0,6
412,104.0,Double,CFB Fantasy Redraft,2023,1,11.0,Football,0,0,0,0,6
413,164.0,Noah,CFB Fantasy Redraft,2023,1,12.0,Football,0,0,0,0,6

In [7]:
# Update the Data DataFrame to reflect the total players results
data['Total Players'] = data_merged['Total Players']

# Find the largest Rank in each league-year combination
largest_rank = data.groupby(['League', 'Year'])['Rank'].max().reset_index(name='Largest Rank')

# Merge this back with the original DataFrame
data_with_largest_rank = pd.merge(data, largest_rank, how='left', on=['League', 'Year'])

# Update the 'Total Players' column based on the largest rank exceeding the current total players value
data_with_largest_rank['Total Players'] = data_with_largest_rank.apply(
    lambda row: max(row['Total Players'], row['Largest Rank']), axis=1
)

# Dropping the 'Largest Rank' column as it's no longer needed
data_with_largest_rank.drop(columns=['Largest Rank'], inplace=True)

data_with_largest_rank.tail()  # Displaying the last few rows to verify the update

,ID,Name,League,Year,League Year #,Rank,Sport,Minigame?,Dynasty?,Bestball?,Orphaned?,Total Players
409,162.0,Chad,CFB Fantasy Redraft,2023,1,5.0,Football,0,0,0,0,12.0
410,163.0,Josh,CFB Fantasy Redraft,2023,1,7.0,Football,0,0,0,0,12.0
411,124.0,Mitch,CFB Fantasy Redraft,2023,1,10.0,Football,0,0,0,0,12.0
412,104.0,Double,CFB Fantasy Redraft,2023,1,11.0,Football,0,0,0,0,12.0
413,164.0,Noah,CFB Fantasy Redraft,2023,1,12.0,Football,0,0,0,0,12.0

In [8]:
# Update the Data DataFrame to reflect the total players results
data['Total Players'] = data_with_largest_rank['Total Players']

In [9]:
data

,ID,Name,League,Year,League Year #,Rank,Sport,Minigame?,Dynasty?,Bestball?,Orphaned?,Total Players
0,112.0,Grant,FFN Alumni,2021,1,1.0,Football,0,1,0,0,12.0
1,109.0,Ari,FFN Alumni,2021,1,2.0,Football,0,1,0,0,12.0
2,103.0,Cam,FFN Alumni,2021,1,3.0,Football,0,1,0,0,12.0
3,106.0,Kyle,FFN Alumni,2021,1,4.0,Football,0,1,0,0,12.0
4,127.0,DMac,FFN Alumni,2021,1,5.0,Football,0,1,0,0,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...
409,162.0,Chad,CFB Fantasy Redraft,2023,1,5.0,Football,0,0,0,0,12.0
410,163.0,Josh,CFB Fantasy Redraft,2023,1,7.0,Football,0,0,0,0,12.0
411,124.0,Mitch,CFB Fantasy Redraft,2023,1,10.0,Football,0,0,0,0,12.0
412,104.0,Double,CFB Fantasy Redraft,2023,1,11.0,Football,0,0,0,0,12.0
413,164.0,Noah,CFB Fantasy Redraft,2023,1,12.0,Football,0,0,0,0,12.0

## Compute Adjusted Percentile Rank

### In order to account for the difference in competition size, an adjusted percentile rank needs to be implemented based on the following formula:

$$
\text{Adjusted Percentile} = \left( \frac{n - \text{rank}}{n - 1} \right) \cdot \ln(1 + n)
$$

where:

- $\text{rank}$ is the position of an individual within the league, with 1 being the highest position.
- $n$ is the total number of participants in the league.

In [10]:
# Define the function to calculate Adjusted Percentile
def calculate_adjusted_percentile(row):
    n = row['Total Players']
    rank = row['Rank']
    if n > 1:
        adjusted_percentile = ((n - rank) / (n - 1)) * np.log(1 + n)
    else:
        adjusted_percentile = np.log(2)  # When there's only one player, use log(2) as a placeholder
    return adjusted_percentile

In [11]:
# Define the function to calculate the Perfect Adjusted Percentile
def calculate_perfect_adjusted_percentile(row):
    n = row['Total Players']
    # Ideal scenario: player always ranks 1st
    ideal_rank = 1
    if n > 1:
        perfect_adjusted_percentile = ((n - ideal_rank) / (n - 1)) * np.log(1 + n)
    else:
        perfect_adjusted_percentile = np.log(2)  # When there's only one league, use log(2) as a placeholder
    return perfect_adjusted_percentile

In [12]:
# Apply the function to compute Adjusted Percentile for each row
data['Adjusted Percentile'] = data.apply(calculate_adjusted_percentile, axis=1)
data['Perfect Adjusted Percentile'] = data.apply(calculate_perfect_adjusted_percentile, axis=1)

data

,ID,Name,League,Year,League Year #,Rank,Sport,Minigame?,Dynasty?,Bestball?,Orphaned?,Total Players,Adjusted Percentile,Perfect Adjusted Percentile
0,112.0,Grant,FFN Alumni,2021,1,1.0,Football,0,1,0,0,12.0,2.564949,2.564949
1,109.0,Ari,FFN Alumni,2021,1,2.0,Football,0,1,0,0,12.0,2.331772,2.564949
2,103.0,Cam,FFN Alumni,2021,1,3.0,Football,0,1,0,0,12.0,2.098595,2.564949
3,106.0,Kyle,FFN Alumni,2021,1,4.0,Football,0,1,0,0,12.0,1.865418,2.564949
4,127.0,DMac,FFN Alumni,2021,1,5.0,Football,0,1,0,0,12.0,1.632241,2.564949
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
409,162.0,Chad,CFB Fantasy Redraft,2023,1,5.0,Football,0,0,0,0,12.0,1.632241,2.564949
410,163.0,Josh,CFB Fantasy Redraft,2023,1,7.0,Football,0,0,0,0,12.0,1.165886,2.564949
411,124.0,Mitch,CFB Fantasy Redraft,2023,1,10.0,Football,0,0,0,0,12.0,0.466354,2.564949
412,104.0,Double,CFB Fantasy Redraft,2023,1,11.0,Football,0,0,0,0,12.0,0.233177,2.564949
413,164.0,Noah,CFB Fantasy Redraft,2023,1,12.0,Football,0,0,0,0,12.0,0.000000,2.564949

## Create Summary Statistics for Each Player

### For the summary statistics, the data can be filtered to compute the results of various subsets of the overall dataset. The function below is implemented to handle such filtering and documentation is provided below as well

In [13]:
# Function to filter the DataFrame based on various column criteria
def filter_dataframe(df, ID=None, Name=None, League=None, Year=None, League_Year_Number=None, 
                     Rank=None, Sport=None, Minigame=None, Dynasty=None, Bestball=None, 
                     Orphaned=None, Total_Players=None, Adjusted_Percentile=None):
    filtered_df = df.copy()
    
    if ID is not None:
        filtered_df = filtered_df[filtered_df['ID'] == ID]
    if Name is not None:
        filtered_df = filtered_df[filtered_df['Name'] == Name]
    if League is not None:
        filtered_df = filtered_df[filtered_df['League'] == League]
    if Year is not None:
        filtered_df = filtered_df[filtered_df['Year'] == Year]
    if League_Year_Number is not None:
        filtered_df = filtered_df[filtered_df['League Year #'] == League_Year_Number]
    if Rank is not None:
        filtered_df = filtered_df[filtered_df['Rank'] == Rank]
    if Sport is not None:
        filtered_df = filtered_df[filtered_df['Sport'] == Sport]
    if Minigame is not None:
        filtered_df = filtered_df[filtered_df['Minigame?'] == Minigame]
    if Dynasty is not None:
        filtered_df = filtered_df[filtered_df['Dynasty?'] == Dynasty]
    if Bestball is not None:
        filtered_df = filtered_df[filtered_df['Bestball?'] == Bestball]
    if Orphaned is not None:
        filtered_df = filtered_df[filtered_df['Orphaned?'] == Orphaned]
    if Total_Players is not None:
        filtered_df = filtered_df[filtered_df['Total Players'] == Total_Players]
    if Adjusted_Percentile is not None:
        # Adjusted Percentile might need a range or exact match, here it's considered as exact match for simplicity
        filtered_df = filtered_df[filtered_df['Adjusted Percentile'] == Adjusted_Percentile]
    
    return filtered_df

In [14]:
"""
Function Usage Example:

The `filter_dataframe` function can be used to filter the data based on various criteria.
Each parameter corresponds to a column in the DataFrame, and you can specify filters for any combination of these columns.
If a parameter is not specified (left as None), no filter is applied for that column.

Parameters:
ID: Filter by the unique ID of the participant (e.g., 112.0)
Name: Filter by the participant's name (e.g., 'Grant')
League: Filter by the league name (e.g., 'FFN Alumni')
Year: Filter by the year of the league (e.g., 2021)
League_Year_Number: Filter by the specific league year number (e.g., 1)
Rank: Filter by the rank within the league (e.g., 1.0 for first place)
Sport: Filter by the sport type (e.g., 'Football')
Minigame: Filter by whether it is a minigame (1 for yes, 0 for no)
Dynasty: Filter by whether it is a dynasty league (1 for yes, 0 for no)
Bestball: Filter by whether it is a bestball league (1 for yes, 0 for no)
Orphaned: Filter by whether the team was orphaned (1 for yes, 0 for no)
Total_Players: Filter by the total number of players in the league (e.g., 12)
Adjusted_Percentile: Filter by the adjusted percentile score (e.g., 2.564949)
""";
# Example:
# To filter the data for leagues from the year 2021 that are in the sport of Football, use the following:
# filtered_data = filter_dataframe(data, Year=2021, Sport='Football')
# filtered_data.head()

In [15]:
filtered_data = filter_dataframe(data, Orphaned=0)
filtered_data.reset_index(drop=True, inplace=True)
filtered_data

,ID,Name,League,Year,League Year #,Rank,Sport,Minigame?,Dynasty?,Bestball?,Orphaned?,Total Players,Adjusted Percentile,Perfect Adjusted Percentile
0,112.0,Grant,FFN Alumni,2021,1,1.0,Football,0,1,0,0,12.0,2.564949,2.564949
1,109.0,Ari,FFN Alumni,2021,1,2.0,Football,0,1,0,0,12.0,2.331772,2.564949
2,103.0,Cam,FFN Alumni,2021,1,3.0,Football,0,1,0,0,12.0,2.098595,2.564949
3,106.0,Kyle,FFN Alumni,2021,1,4.0,Football,0,1,0,0,12.0,1.865418,2.564949
4,127.0,DMac,FFN Alumni,2021,1,5.0,Football,0,1,0,0,12.0,1.632241,2.564949
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
400,162.0,Chad,CFB Fantasy Redraft,2023,1,5.0,Football,0,0,0,0,12.0,1.632241,2.564949
401,163.0,Josh,CFB Fantasy Redraft,2023,1,7.0,Football,0,0,0,0,12.0,1.165886,2.564949
402,124.0,Mitch,CFB Fantasy Redraft,2023,1,10.0,Football,0,0,0,0,12.0,0.466354,2.564949
403,104.0,Double,CFB Fantasy Redraft,2023,1,11.0,Football,0,0,0,0,12.0,0.233177,2.564949
404,164.0,Noah,CFB Fantasy Redraft,2023,1,12.0,Football,0,0,0,0,12.0,0.000000,2.564949

### Function to generate summary statistics for each player

In [19]:
def summarize_player_statistics(df):
    # Aggregate basic statistics
    player_summary = df.groupby(['ID', 'Name']).agg(
        Average_Rank=('Rank', 'mean'),
        Total_Adjusted_Percentile=('Adjusted Percentile', 'sum'),
        Average_Adjusted_Percentile=('Adjusted Percentile', 'mean'),
        Total_Perfect_Adjusted_Percentile=('Perfect Adjusted Percentile', 'sum'),
        Average_Perfect_Adjusted_Percentile=('Perfect Adjusted Percentile', 'mean')
    ).reset_index()
    
    # Ratio of player's average to perfect adjusted percentile
    player_summary['Adjusted_Percentile_Ratio'] = player_summary['Average_Adjusted_Percentile'] / player_summary['Average_Perfect_Adjusted_Percentile']
    
    # Correcting Total Leagues to simply count the number of times an ID/Name combination appears in the DataFrame
    player_summary['Total_Leagues'] = df.groupby(['ID', 'Name']).size().reset_index(name='Total_Leagues')['Total_Leagues']
    
    # Create a pivot table to count participation in each league
    league_participation = df.pivot_table(index=['ID', 'Name'], columns='League', aggfunc='size', fill_value=0)
    
    # Combine the aggregated stats and league participation into one DataFrame
    player_summary_final = pd.merge(player_summary, league_participation.reset_index(), on=['ID', 'Name'], how='left')
    
    # Adjusting the order of the columns to move Total_Leagues right after the Name column
    cols = ['ID', 'Name', 'Total_Leagues', 'Average_Rank', 'Total_Adjusted_Percentile', 'Average_Adjusted_Percentile', 'Total_Perfect_Adjusted_Percentile','Average_Perfect_Adjusted_Percentile',
            'Adjusted_Percentile_Ratio'] + [col for col in league_participation.columns if col not in ['ID', 'Name']]
    player_summary_final_adjusted = player_summary_final[cols]
    
    # Sort by Adjusted_Percentile_Ratio from largest to smallest
    player_summary_final_sorted = player_summary_final_adjusted.sort_values(by='Adjusted_Percentile_Ratio', ascending=False)

    return player_summary_final_sorted

# Example usage:
# player_summary_final_adjusted = summarize_player_statistics(data)
# player_summary_final_adjusted.head()

In [22]:
summary_stats_df = summarize_player_statistics(filtered_data)
summary_stats_df

,ID,Name,Total_Leagues,Average_Rank,Total_Adjusted_Percentile,Average_Adjusted_Percentile,Total_Perfect_Adjusted_Percentile,Average_Perfect_Adjusted_Percentile,Adjusted_Percentile_Ratio,Bestball Dynasty,...,NBA Playoffs Fantasy,NBA Predict The Pick,NFL Playoffs Fantasy,NFL Predict the Pick,Pigskin Pick'Em,Pigskin Win Totals,Puck Redraft,Sex Havers,Stanley Cup Fantasy,dyNASTY
51,174.0,Broseph,1,2.000000,2.331772,2.331772,2.564949,2.564949,0.909091,0,...,0,0,0,0,0,0,0,0,0,1
0,100.0,Fantasy,2,3.500000,3.964013,1.982006,5.129899,2.564949,0.772727,0,...,0,0,0,0,0,0,0,0,0,1
55,178.0,Nathan,2,3.500000,3.640349,1.820174,4.882802,2.441401,0.745545,0,...,0,0,0,0,0,0,0,0,0,0
47,169.0,Deaven,1,4.000000,1.865418,1.865418,2.564949,2.564949,0.727273,0,...,0,0,0,0,0,0,0,0,0,1
28,149.0,George,2,4.000000,3.730835,1.865418,5.129899,2.564949,0.727273,0,...,0,0,0,0,0,0,0,0,0,0
30,151.0,Kevin,2,4.000000,3.730835,1.865418,5.129899,2.564949,0.727273,0,...,0,0,0,0,0,0,0,0,0,0
31,152.0,John,3,4.000000,5.596253,1.865418,7.694848,2.564949,0.727273,1,...,0,0,0,0,0,0,0,0,0,0
32,153.0,Aaron,2,4.000000,3.730835,1.865418,5.129899,2.564949,0.727273,0,...,0,0,0,0,0,0,0,0,0,0
41,162.0,Chad,18,3.750000,29.495044,1.638614,42.908686,2.383816,0.687391,1,...,1,2,0,1,1,1,1,0,1,0
2,102.0,Devin,39,3.948718,63.783843,1.635483,93.373707,2.394198,0.683103,1,...,1,2,1,1,2,1,1,2,2,1
34,155.0,Trey,8,4.500000,12.725527,1.590691,19.865316,2.483164,0.640590,0,...,0,0,0,0,0,0,0,2,0,0
21,142.0,Dante,2,5.000000,3.264481,1.632241,5.129899,2.564949,0.636364,0,...,0,0,0,0,0,0,0,0,0,0
35,156.0,Landon,8,4.625000,12.638057,1.579757,19.865316,2.483164,0.636187,0,...,0,0,0,0,0,0,0,2,0,0
9,112.0,Grant,7,4.857143,11.105036,1.586434,17.707549,2.529650,0.627136,0,...,0,0,0,0,0,0,0,0,0,0
40,161.0,J,6,4.666667,8.956273,1.492712,14.490037,2.415006,0.618099,0,...,0,0,0,0,0,0,1,2,2,0
38,159.0,Quinn,7,4.714286,10.172154,1.453165,16.839049,2.405578,0.604081,0,...,0,0,1,0,1,0,0,2,0,1
44,166.0,Josh S,1,5.500000,1.515652,1.515652,2.564949,2.564949,0.590909,1,...,0,0,0,0,0,0,0,0,0,0
14,121.0,Falcon,6,4.333333,7.908275,1.318046,13.621537,2.270256,0.580571,0,...,0,1,0,0,0,0,0,0,1,0
10,113.0,Davis,9,4.555556,12.355283,1.372809,21.401916,2.377991,0.577298,0,...,1,1,0,0,0,0,0,0,0,0
13,117.0,1st Quinn,1,5.000000,1.332164,1.332164,2.397895,2.397895,0.555556,0,...,0,0,0,0,0,0,0,0,0,0
4,104.0,Double,32,5.093750,42.773657,1.336677,77.251996,2.414125,0.553690,1,...,1,1,1,1,2,0,1,0,2,1
37,158.0,Fawaz,1,6.000000,1.399063,1.399063,2.564949,2.564949,0.545455,0,...,0,0,0,0,0,0,0,1,0,0
46,168.0,Dave,1,6.000000,1.399063,1.399063,2.564949,2.564949,0.545455,0,...,0,0,0,0,0,0,0,0,0,1
5,105.0,Graham,30,5.383333,37.566874,1.252229,71.890268,2.396342,0.522559,0,...,1,1,1,1,1,0,1,2,2,1
39,160.0,Tristan,4,6.000000,5.193393,1.298348,10.012701,2.503175,0.518681,0,...,0,0,0,0,0,0,0,2,0,0
20,141.0,Anthony,2,6.500000,2.564949,1.282475,5.129899,2.564949,0.500000,0,...,0,0,0,0,0,0,0,0,0,0
24,145.0,Matthew,2,6.500000,2.564949,1.282475,5.129899,2.564949,0.500000,0,...,0,0,0,0,0,0,0,0,0,0
8,109.0,Ari,25,5.800000,29.809634,1.192385,60.247610,2.409904,0.494785,0,...,0,0,1,1,2,1,1,2,0,1
6,106.0,Kyle,27,5.944444,32.323538,1.197168,66.090528,2.447797,0.489080,1,...,0,2,1,1,1,0,0,2,0,1
3,103.0,Cam,8,6.312500,9.132596,1.141575,19.691680,2.461460,0.463779,0,...,0,0,0,0,0,0,0,0,1,0
7,107.0,Zack,5,6.800000,5.800243,1.160049,12.562383,2.512477,0.461715,0,...,0,0,0,0,0,0,0,0,0,0
23,144.0,Brandon,2,7.000000,2.331772,1.165886,5.129899,2.564949,0.454545,0,...,0,0,0,0,0,0,0,0,0,0
18,125.0,Soup,6,7.000000,6.995316,1.165886,15.389696,2.564949,0.454545,0,...,0,0,0,0,0,0,0,0,0,0
17,124.0,Mitch,18,5.888889,18.512854,1.028492,42.584771,2.365821,0.434729,1,...,1,1,1,1,1,1,0,0,1,1
52,175.0,Ben Shelton,1,5.000000,0.941668,0.941668,2.197225,2.197225,0.428571,0,...,0,0,0,0,0,0,1,0,0,0
36,157.0,Neil,2,7.500000,2.098595,1.049297,5.129899,2.564949,0.409091,0,...,0,0,0,0,0,0,0,2,0,0
42,163.0,Josh,12,6.791667,11.835468,0.986289,29.559563,2.463297,0.400394,1,...,0,2,0,1,0,0,0,0,0,0
56,179.0,Verg,1,7.000000,0.993963,0.993963,2.484907,2.484907,0.400000,0,...,0,0,0,0,0,0,0,0,0,0
19,127.0,DMac,3,7.666667,3.031304,1.010435,7.694848,2.564949,0.393939,0,...,0,0,0,0,0,0,0,0,0,0
11,114.0,Jack,34,6.411765,31.142743,0.915963,80.629003,2.371441,0.386247,1,...,1,2,1,1,2,1,1,2,2,1
49,172.0,Charles,3,6.000000,2.664328,0.888109,6.993015,2.331005,0.380998,0,...,0,0,0,0,0,0,2,0,1,0
15,122.0,Nicholas,6,6.750000,5.229290,0.871548,14.250146,2.375024,0.366964,0,...,1,1,0,1,0,0,0,0,1,0
22,143.0,Andrew,2,8.000000,1.865418,0.932709,5.129899,2.564949,0.363636,0,...,0,0,0,0,0,0,0,0,0,0
43,164.0,Noah,13,7.461538,11.751289,0.903945,32.362923,2.489456,0.363110,1,...,0,1,0,1,0,0,1,0,0,0
16,123.0,Nakul,8,7.125000,6.967569,0.870946,19.390095,2.423762,0.359337,0,...,0,1,0,1,0,0,0,0,0,0
26,147.0,Jackson,2,8.500000,1.632241,0.816120,5.129899,2.564949,0.318182,0,...,0,0,0,0,0,0,0,0,0,0
25,146.0,Thomas,2,8.500000,1.632241,0.816120,5.129899,2.564949,0.318182,0,...,0,0,0,0,0,0,0,0,0,0
29,150.0,Joel,4,8.625000,2.975969,0.743992,10.179755,2.544939,0.292342,1,...,0,0,0,0,0,0,0,0,0,0
53,176.0,Landon K,1,6.000000,0.627778,0.627778,2.197225,2.197225,0.285714,0,...,0,0,0,0,0,0,1,0,0,0
27,148.0,Other Jack,2,9.000000,1.399063,0.699532,5.129899,2.564949,0.272727,0,...,0,0,0,0,0,0,0,0,0,0
57,180.0,Alyvia,1,9.000000,0.699532,0.699532,2.564949,2.564949,0.272727,0,...,0,0,0,0,0,0,0,0,0,0
1,101.0,Ben,7,8.142857,4.493972,0.641996,17.157502,2.451072,0.261925,0,...,0,0,0,0,0,0,0,0,0,0
33,154.0,Nick,2,9.500000,1.165886,0.582943,5.129899,2.564949,0.227273,0,...,0,0,0,0,0,0,0,0,0,0
50,173.0,Daniel,1,8.000000,0.532866,0.532866,2.397895,2.397895,0.222222,0,...,0,0,0,0,0,0,1,0,0,0
45,167.0,Steven,2,10.000000,0.932709,0.466354,5.129899,2.564949,0.181818,1,...,0,0,0,0,0,0,0,0,0,0
12,116.0,Jude,3,10.000000,1.399063,0.466354,7.694848,2.564949,0.181818,0,...,0,0,0,0,0,0,0,0,0,0
54,177.0,Cory,1,7.000000,0.313889,0.313889,2.197225,2.197225,0.142857,0,...,0,0,0,0,0,0,1,0,0,0
48,171.0,Ryan,1,10.000000,0.000000,0.000000,2.397895,2.397895,0.000000,0,...,0,0,0,0,0,0,0,0,1,0
58,181.0,Nate,1,12.000000,0.000000,0.000000,2.564949,2.564949,0.000000,0,...,0,0,0,0,0,0,0,0,0,0